.button {
  padding: 10px;
  border: 2px solid #000;
  width: 150px;
  border-radius: 8px;
  margin: 0px auto;
  text-align: center;
  font-weight: bold;
  display: block;
  text-decoration: none;
  margin-bottom: 20px;
  &, &:visited {
    color: #000;
  }
  &:hover {
    color: #fff;
    background: #000;
    cursor: pointer;
  }

}
